Downloads

In [1]:
# The code was removed by Watson Studio for sharing.

   Article Issue Number Volume Number Publication Year  Full Text Downloads
0        1            -            38             2010                79396
1        2            6            42             2014                26107
2        3            4            44             2015                25312
3        4            5            44             2015                23929
4        5            2            46             2017                15290